.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.userList {

}

.sliderContainer {
    width: 800px;
    height: 80vh;
    margin: 0 auto;
    overflow: auto; /* Enable scrolling when content exceeds height */
}

.message {
}

.message > pre {
    padding: 20px;
    font-size: 13pt;
    white-space: pre-wrap;
    word-wrap: break-word;
}