.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.previewContainer {
    display: flex;
    flex-direction: column;
    height: 50vh;
}

.title {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.title > h2 {
}

.instruction > pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: 18px;
    padding: 20px;
}


.button_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}

.button_container > button{
    width: 80px;
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: #636363;
    color: #ffffff;
    font-size: 15px;
    margin: 10px;
}