.container {
    border: 1px solid #333;
    height: 500px;
    border-radius: 30px;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;
}