.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70%;
    border-radius: 30px;
}

.gameSettingContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.gameSettingContainer:hover {
    cursor: pointer;
    color: #E18B32;
}

.gameSettingContainer > img {
    width: 60vh;
    margin: 10px;
    border-radius: 20px;
}

.gameSettingContainer > h3 {
    margin: 20px;
}