.board_title_container {
    display: flex;
    flex-direction: column;
}

.board_title_category {

}

.board_title_category > p {
    font-weight: bold;
    font-size: 20px;
}

.board_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.board_title > h2 {
    font-size: 30px;
}

.board_title > p {
    font-size: 20px;
    color: #ffffff;
    background-color: #0056b3;
    padding: 10px 40px;
    border-radius: 20px;
}

.board_title_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.board_title_bottom_left {
    display: flex;
}

.board_title_bottom_left > p{
    font-size: 20px;
    margin-right: 10px;
}

.board_title_bottom_right {
    display: flex;
}
.board_title_bottom_right > p {
    font-size: 20px;
    margin-right: 10px;
}

/* board content*/
.board_content_container {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 15px;
}

.board_content_text {
    display: flex;
    flex-direction: column;
}

.board_content_text > p {
    font-size: 22px;
}

/* board_content_like_button */
.board_content_like_button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.board_content_like_button > button{
    width: 80px;
    height: 80px;
    margin: 10px;
    border: none;
    background-color: transparent;
}

.board_content_like_button > button:hover{
    cursor: pointer;
}

.board_content_like_button > button > img{
    width: 60px;
    height: 60px;
    border: none;
    background-color: transparent;
}

.board_content_like_button > p {
    font-size: 20px;
    color: #000000;
}