
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>세타 이메일 인증번호</title>
    <link rel="stylesheet" href="./email.css">
    
</head>
<body>
    <div class="container"
    style="text-align: center;
    height: 500px;
    width: 100%;">
        <div class="header"
        style="background-color: #FFA800;
            height: 30%;
            text-align: center;
            margin: 5px auto ;">
            <h1 
            style="
            color: #fff;
            text-align: center;
            padding-top: 50px;">이메일 인증번호</h1>
        </div>
        <div class="content">
            <p style=" margin: 5px 0 ;
            color: #000;">
                안녕하세요
                <span style="font-weight:bold;"
                style="font-size: 25px;
                text-align: center;">
                    {{ username }}
                </span>님
            </p>
            <p style=" margin: 5px 0 ;
            color: #000;">
                <span style="font-size: 25px;
                color: #FFA800;">
                세타
                </span>
                입니다.
            </p>
            <p style=" margin: 5px 0 ;
            color: #000;">
                인증번호는
            </p>
            <p style=" margin: 5px 0 ;
            color: #000;">
                <span style="font-weight:bold;"
                style="font-size: 25px;
                text-align: center;">
                    {{ code }}
                </span>입니다.
            </p>
        </div>

    </div>
</body>
</html>
