
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>세타 아아디 찾기</title>
    <link rel="stylesheet" href="./email.css">
    
</head>
<body>
    <div class="container"
    style="text-align: center;
    height: 500px;
    width: 100%;">
        <div class="header"
        style="background-color: #FFA800;
            height: 30%;
            text-align: center;
            margin: 5px auto ;">
            <h1 
            style="
            color: #fff;
            text-align: center;
            padding-top: 50px;">임시 비밀번호</h1>
        </div>
        <div class="content">
            <p style=" margin: 5px 0 ;
            color: #000;">
                안녕하세요
                <span style="font-weight:bold;"
                style="font-size: 25px;
                text-align: center;">
                    {{ username }}
                </span>님
            </p>
            <p style=" margin: 5px 0 ;
            color: #000;">
                <span style="font-size: 25px;
                color: #FFA800;">
                세타
                </span>
                입니다.
            </p>
            <p style=" margin: 5px 0 ;
            color: #000;">
                임시 비밀번호를 발급해 드렸습니다.
            </p>
            <p style=" margin: 5px 0 ;
            color: #000;">
                임시 비밀번호는
            </p>
            <p style=" margin: 5px 0 ;
            color: #000;">
                <span style="font-weight:bold;"
                style="font-size: 25px;
                text-align: center;">
                    {{ password }}
                </span>입니다.
            </p>
            <p style=" margin-top: 20px;
            color: #000;">
                임시 비밀번호이니 로그인 후 
            </p>
            <p style=" margin: 10px 0 ;
            color: #000;">
                프로필 페이지에서 변경해 주세요.
            </p>
        </div>
        
        <div style="
        padding: 10px 0px;
        height: 5%;
        margin: 5px auto;
        text-align: center
        ">
            <a href="{{ FRONT_BASE_URL }}/login" target="_blank"
            style="
            text-decoration: none;
            background-color: #FFA800;
            color: #fff;
            padding: 7px 10px;
            border-radius: 10px;
            ">
                로그인
            </a>
        </div>
    </div>
</body>
</html>
