asgiref
async-timeout
attrs
autobahn
Automat
beautifulsoup4
boto3
botocore
bs4
certifi
cffi
channels
channels-redis
charset-normalizer
constantly
cryptography
daphne
Django
django-cors-headers
django-seed
django-storages
djangorestframework
djangorestframework-simplejwt
Faker
hyperlink
idna
incremental
jmespath
msgpack
psycopg2
pyasn1
pyasn1_modules
pycparser
pyOpenSSL
python-dateutil
redis
requests
s3transfer
service-identity
six
soupsieve
sqlparse
toposort
Twisted
txaio
typing_extensions
tzdata
urllib3
zope.interface
