.pagination_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.pagination_wrapper button {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    /*border: 1px solid #ccc;*/
    border: none;
    background-color: #fff;
    margin: 0 2px;
    font-size: 16px;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

.pagination_wrapper button:hover {
    background-color: #f0f0f0;
    border-color: #999;
    color: #000;
    cursor: pointer;
}

.pagination_wrapper button:disabled {
    background-color: #312e2e;
    color: #ffffff;
    cursor: not-allowed;
}
