.header {
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0%; /* Navbar의 내부 여백을 지정합니다. */
    background-color: #fff; /* Navbar의 배경색을 흰색으로 설정합니다. */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000; /* 다른 요소 위에 Navbar가 표시되도록 z-index를 설정합니다. */
}

.logo {
    font-size: 32px;
    color:gray;
    font-weight: 700;
}

.navbar a {
    position: relative;
    font-size: 16px;
    color: gray;
    font-weight: 500;
    margin-left: 40px;
}

.navbar a::before{
    content:'';
    position: absolute;
    top: 100%;
    left: 0;
    width:0;
    height:2px;
    background: gray;
    transition: .3s;
}

.navbar a:hover::before {
    width:100%;
}