.container {
    width : 35rem;
    margin: 2rem 0;
}

.title {
    color : #444444
}

.introduce, .mbtiRatio, .followRanking, .followerRanking {
    margin: 0.5rem 0;
    border: 1px solid rgb(221, 221, 221);
    padding: 1rem 1rem;
    height: auto;
    min-height: 7rem;
    width: 100%;
}

.introduce {
    
}

.mbtiRatio {
    height: 300px;
}

.followerRanking {

}

.followRanking {

}