
.vertical{
  margin: 0 auto;
}

.board_top {
  display: flex;
  /* align-items: center; */
  margin: 10px 0;
  height: 200px;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  background: #c9c9c9;
}

.board_top_content{
  width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.board_top_lift{
  display: flex;
}

.board_top_text_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end
}

.board_top_text_container h2{
  font-size: 3rem;
}

.board_top_text_container p{
  font-size: 2.5rem;
  color: rgba(120,120,120,100%);
}

.board_top_image {
  margin-left: 20px;
  width: 130px;
  height: 130px;
}



.board_top_right{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly
}

.board_top_count{
  display: flex;
  font-size: 1.5rem;
  text-align: center;
}

.board_top_count div{
  margin: 0 3rem;
}

.board_top_count p{
  font-size: 1.1rem;
  font-weight: 300;
}

.boder_top_mbti_box{
  background-color: #fff;
  border-radius: 20px;
}

.board_top_mbti{
  display: flex;
  margin-left: 14px;
  align-items: flex-end; 
  padding-top: 8px;
}

.board_top_mbti h3{
  font-size: 4rem;
  margin-left:1.8rem;
}

.board_top_mbti p{
  margin:0 0 15px 5px;
  color: rgba(120,120,120,100%);
}




