* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*cursor: none;*/
}

/*.cursor {*/
/*    position: fixed;*/
/*    width: 150px;*/
/*    height: 150px;*/
/*    background-image: url('./Assets/cursor_ta.jpeg');*/
/*    z-index: 1056;*/
/*    background-size: cover;*/
/*    pointer-events: none;*/
/*}*/

body {
    height: 100vh;
    width: 1200px;
    margin: 100px auto;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
