.div {
  margin-top: 10px;
}

.horizontal {
  display: flex;
  align-items: center;
}

.vertical {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.divImage {
  margin-left: 20px;
  display: flex;
}

