.div {
  margin-top: 10px;
}

.horizontal {
  display: flex;
  align-items: center;
}

.vertical {
  margin-top: 10px;
}

.form{
  display: flex;
  flex-direction: column;
  width: 800px;
  margin: 0 auto;    
}


.mbti{
  display: flex;
  margin: 0 auto;
  height: 30px;
}

.radio{
  display: flex;
  margin: 0 auto;
  height: 30px;
}