
.board_top {
  display: flex;
  align-items: center;
  margin: 10px 0;
  height: 200px;
  /* padding: 25px 40px; */
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  background: #c9c9c9;
} 

@media (max-width: 1200px) {
  body {
    width: 100%;
  }
}

.board_top h1{
  width: 1200px;
  margin: 0 auto;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}


.form {
  display: flex;
  flex-direction: column;
  width: 800px;
  margin: 5rem auto;

}

/* input_Radio */
.radio {
  display: flex;
  font-size: 1.4rem;
  font-weight: 200;
}

.radio input[type='radio'] {
  display: none;
}

.radio input[type='radio']+label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
  cursor: pointer;
  user-select: none;
  transition: 0.2s;
}

.radio input[type='radio']+label:hover{
  font-weight: 700;
  transition:0.3s;
  transform: scale(1.1);
}
.radio input[type='radio']:checked+label {
  font-weight: 700;
}

/* MBTI 선택  */
.mbti {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 80px;
  align-items: center;
  justify-content: center;
}
.mbti div{
  flex: 0 0 12.5%;
  text-align: center;
  user-select: none;
  transition: transform 0.3s ease-in-out;
}

.mbti div:hover{
  transition:0.3s;
  font-weight: 700;
  transform: scale(1.3);
  text-decoration: underline ;
}


.mbti input:checked+label {
  text-decoration: underline ;
  font-weight: 500;
}



/* 제목 */
.title, 
.content {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title div,
.content div {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.title input {
  font-size: 1rem;
  height: 2rem;
  padding-left: 10px;
}

.title label,
.content label {
  font-size: 1.4rem;
  font-weight: 500;
  padding-left: 10px;
}

/* 내용 */

.content textarea{
  font-size: 1rem;
  height: 20rem;
  padding: 10px;
  white-space: pre-wrap;
}

/* Error mesage */
.Error{
  margin: 15px auto;
  color: red;
  height: 10px;
  font-weight: bold;
}

/* 버튼 */
.button {
  height: 50px;
  width: 500px;
  margin: 5px auto;
  background-color: rgba(201,201,201,79%);
  border: 0 solid ;
  border-radius: 10px;
  font-size: 1.2rem;
}


.button:hover{
  background-color:rgba(170,170,170,79%);
  transition:0.2s;
}