.container {
    position: fixed;
    right: 20px;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.fab {
    background-color: #565656;
    color: white;
    border: none;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    margin-top: 10px;
}

.menu {
    margin-Top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-item {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 5px 0;
    cursor: pointer;
}

.moveButton{
    border: none;
    background-color: #565656;
    color: #fff;
    font-size: 18px;
    width: 56px;
    height: 56px;
    border-radius: 50px;
    cursor: pointer;
}

.button {
    display: flex;
    flex-direction: column;
    align-items: center;
}