.div {
}

.image {
  border-radius: 0.5rem;
  width: 80px;
  height: 80px;
  margin : 1px 4px;
  cursor: pointer;
  transition: 0.2s;
}

.image:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0.2rem 0.2rem 0.2rem #bbbbbb;
}

.container {
  display: flex;
  justify-content: center;
}

.cardList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto;
  background-color: #E1E1E1;
  padding: 5px;
  border-radius: 10px;
}