.container {
    padding: 10px 0;
}

.search_result_title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search_result_title > h2 {
    font-size: 25px;
    font-weight: bold;
    margin-right: 10px;
}

.search_filter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown_button {
    display: flex;
    align-items: center;
}

.dropdown_button > button{
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.dropdown_button > button > img{
    margin-left: 5px;
    width: 12px;
    height: 12px;
}

.dropdown_menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown_menu > button {
    padding: 12px 16px;
    background-color: transparent;
    border: none;
    text-align: left;
    cursor: pointer;
}

.dropdown_menu > button:hover {
    background-color: #e1e1e1;
}


.search_result_title > p {
    font-size: 18px;
}

.list_container {
    min-height: 100px;
}