.div {
    margin-top: 10px;
}

.container {
    background-color: #ffffff;
}

.container_content {
    padding: 20px 20px;
}

.elevated_component {
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.1); /* x-offset, y-offset, blur-radius, color */
}

.board_top {
    display: flex;
    align-items: center;
    margin: 10px 0;
    /*height: 200px;*/
    padding: 25px 40px;
    width: 1200px;
    /*background-color: #E1FFDC;*/
}

.board_top_text_container {
    display: flex;
    flex-direction: column;
}

.board_top_text_container > h3 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 10px;
}

.board_top_text_container > p {
    font-size: 30px;
    color: #969696;
}

.board_top_image {
    margin-left: 30px;
}

.board_top_image_size {
    width: 150px;
    height: 150px;
}

.writeButton {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}

.writeButton a {
    color: #ffffff;
    margin: 15px 0;
    border-radius: 14px;
    border: none;
    font-size: 20px;
    width: 100px;
    height: 40px;
    padding-top: 9px;
    text-align: center;
    text-decoration: none;
}

.writeButton a:hover {
    transform: translateY(-0.1rem);
    box-shadow: 0.2rem 0.2rem 0.2rem #bbbbbb;
    cursor: pointer;
}

.board_category {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.board_category > p {
    font-weight: bold;
    font-size: 17px;
}

.board_post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
}

.board_post_left {
    display: flex;
    flex-direction: column;
}

.board_post_right {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.board_post_right > button {
    color: #ffffff;
    margin: 3px;
    border-radius: 14px;
    border: none;
    font-size: 12px;
    width: 60px;
    height: 25px;
}

.board_post_right > button:hover {
    transform: translateY(-0.1rem);
    box-shadow: 0.2rem 0.2rem 0.2rem #bbbbbb;
    cursor: pointer;
}

.board_post_category {
    display: flex;
}

.board_post_title {
    display: flex;
    margin: 7px 0;
    align-items: center;
}

.board_post_title > a {
    color: #000000;
    text-decoration: none;
    margin-right: 10px;
    font-size: 25px;
}

.board_post_title > a:hover {
    color: red;
}

.board_post_bottom {
    display: flex;
}

.board_post_bottom > div {
    color: #8f8f8f;
    margin-right: 10px;
    /*font-size: 10px;*/
}

.board_post_bottom > div > p > sup{
    color: #ffffff;
    background-color: #0056b3;
    font-size: 10px;
    padding: 2px 10px;
    margin-left: 3px;
    border-radius: 10px;
    font-weight: bold;
}


.board_category_sub {
    display: flex;
}

.board_category_sub > p {
    margin-right: 20px;
    margin-bottom: 10px;
}

.board_category_sub > p > sup {
    color: #ffffff;
    background-color: #0056b3;
    font-size: 10px;
    padding: 2px 10px;
    margin-left: 3px;
    border-radius: 10px;
    font-weight: bold;
}


.board_category_sub > button {
    padding-right: 20px;
    padding-bottom: 10px;
    font-size: 18px;
    background-color: #ffffff;
    border: 0;
}

.board_category_sub > button:hover {
    font-weight: bold;
    cursor: pointer;
}

.board_like {
    display: flex;
}

.board_like > p {
    margin-right: 5px;
}

.board_button_container {
    display: flex;
    justify-content: right;
    margin: 15px 5px;
}

.board_button_container > a {
    color: #ffffff;
    border: 0;
    text-decoration: none;
}

.board_button_container > a > button {
    color: #ffffff;
    padding: 15px 30px;
    border-radius: 10px;
    border: 0;
}

.board_search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

.board_search > input {
    margin: 5px;
}

.div-image {
    margin-left: 20px;
    display: flex;
}

.thick_line {
    border: 2px solid black;
}

.customBodyStyle {
    background-color: #f1f1f1;
}
