/*.button {*/
/*  background-color: #007bff;*/
/*  color: #ffffff;*/
/*  padding: 10px 20px;*/
/*  border: none;*/
/*  border-radius: 5px;*/
/*  cursor: pointer;*/
/*}*/

/*.button:hover {*/
/*  background-color: #0056b3;*/
/*}*/

.div {
  margin-top: 10px;
}

.boardTop {
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 10px 0;
  /*background-color: #E1FFDC;*/
}

.board_category {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
}

.board_post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
}

.board_post_left {
  display: flex;
  flex-direction: column;
}

.board_post_category > p {
  font-weight: bold;
  font-size: 17px;
}

.board_post_title{
  display: flex;
  margin: 7px 0;
}

.board_post_title > a{
  color: #000000;
  text-decoration: none;
  margin-right: 10px;
  font-size: 25px;
}
.board_post_title > a:hover {
  color: red;
}

.board_post_bottom {
  display: flex;
}

.board_post_bottom > div {
  color: #8F8F8F;
  margin-right: 10px;
  /*font-size: 10px;*/
}



.horizontal {
  display: flex;
}

.horizontal > p {
  margin-right: 20px;
}

.vertical {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.div-image {
  margin-left: 20px;
  display: flex;
}

.img_size {
  width: 100px;
  height: 100px;
}

.thick_line {
  border: 2px solid black;
}